.textContent{
    position: absolute;
    z-index: 10;
    bottom: -100%;
    background-color: rgba(255, 255, 255, 0.705);
    transition: 0.3s;
    width: 100%;
}

.card:hover .textContent{
    bottom: 0;
}

.card{
    text-align: center;
    overflow: hidden;
    position: relative;
}
